body {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(219,219,219,1) 0%, rgba(247,247,247,1) 0%, rgba(212,212,212,1) 50%, rgba(204,204,204,1) 51%, rgba(204,204,204,1) 100%);    
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#camera-feed {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#video {
    width: 100%;
    border-radius: 5px;
}

#scan-button {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}
